In [1]:
#import libraries

import requests
from bs4 import BeautifulSoup
import glob
from datetime import datetime
import pandas as pd
import os
import re
import matplotlib.pyplot as plt
import calmap
%matplotlib inline

In [2]:
# Ministry of Health and Family Welfare url
URL = 'https://www.mohfw.gov.in'
page = requests.get(URL)

soup = BeautifulSoup(page.content, "html.parser")

html_thead = soup.find_all('thead')[-1]
html_th = [tr for tr in html_thead.find_all('tr')]

html_tbody = soup.find_all('tbody')[-1]
html_text = [tr for tr in html_tbody.find_all('tr')]

headings = []

for tr in html_th:
    th = tr.find_all(['th'])
    row = [i.text for i in th]
    headings.append(row)

print(headings)

content = []
for tr in html_text:
    td = tr.find_all(['td'])
    row = [i.text for i in td]
    content.append(row)
    
#print(content)

[['S. No.', 'Name of State / UT', 'Total Confirmed cases* ', 'Cured/Discharged/Migrated', 'Deaths**']]

In [3]:
data= pd.DataFrame(content[:-6], columns=headings[0])

In [4]:
data

,S. No.,Name of State / UT,Total Confirmed cases*,Cured/Discharged/Migrated,Deaths**
0,1,Andaman and Nicobar Islands,33,33,0
1,2,Andhra Pradesh,2823,1856,56
2,3,Arunachal Pradesh,1,1,0
3,4,Assam,378,55,4
4,5,Bihar,2587,702,13
5,6,Chandigarh,238,186,3
6,7,Chhattisgarh,252,67,0
7,8,Dadar Nagar Haveli,2,0,0
8,9,Delhi,13418,6540,261
9,10,Goa,66,19,0
10,11,Gujarat,14056,6412,858
11,12,Haryana,1184,765,16
12,13,Himachal Pradesh,203,63,3
13,14,Jammu and Kashmir,1621,809,21
14,15,Jharkhand,370,148,4
15,16,Karnataka,2089,654,42
16,17,Kerala,847,521,4
17,18,Ladakh,52,43,0
18,19,Madhya Pradesh,6665,3408,290
19,20,Maharashtra,50231,14600,1635
20,21,Manipur,32,4,0
21,22,Meghalaya,14,12,1
22,23,Mizoram,1,1,0
23,24,Odisha,1336,550,7
24,25,Puducherry,41,12,0
25,26,Punjab,2060,1898,40
26,27,Rajasthan,7028,3848,163
27,28,Sikkim,1,0,0
28,29,Tamil Nadu,16277,8324,111
29,30,Telengana,1854,1090,53
30,31,Tripura,191,165,0
31,32,Uttarakhand,317,58,3
32,33,Uttar Pradesh,6268,3538,161
33,34,West Bengal,3667,1339,272

In [5]:
# drop S.NO column
data = data.drop('S. No.', axis=1)

In [6]:
data.head()

,Name of State / UT,Total Confirmed cases*,Cured/Discharged/Migrated,Deaths**
0,Andaman and Nicobar Islands,33,33,0
1,Andhra Pradesh,2823,1856,56
2,Arunachal Pradesh,1,1,0
3,Assam,378,55,4
4,Bihar,2587,702,13

In [7]:
#rename column names
data = data.rename(columns={'Name of State / UT':'States'})
data = data.rename(columns=lambda x: re.sub('Total Confirmed cases \(Including .* foreign Nationals\) ',
                                                      'Total Cases',x))
data = data.rename(columns=lambda x: re.sub('Deaths \( more than 70% cases due to comorbidities \)',
                                                      'Deaths', x))
data = data.rename(columns={'Total Confirmed cases* ': 'Total Cases'})
data = data.rename(columns={'Deaths**':'Death'})
data = data.rename(columns={'Cured/Discharged/Migrated':'Recovered'})
data = data.rename(columns={'Deaths':'Death'})

# remove extra characters from 'Name of State/UT' column
data['States'] = data['States'].str.replace('#', '')

# remove extra characters from 'Name of State/UT' column
data['Death'] = data['Death'].str.replace('#', '')

In [8]:
data.head()

                        States Total Cases Recovered Death
0  Andaman and Nicobar Islands          33        33     0
1               Andhra Pradesh        2823      1856    56
2            Arunachal Pradesh           1         1     0
3                        Assam         378        55     4
4                        Bihar        2587       702    13

In [9]:
#add todays date and create new column
now  = datetime.now()
data['Date'] = now.strftime("%m/%d/%Y") 
data['Date'] = pd.to_datetime(data['Date'], format='%m/%d/%Y')
data.head()

                        States Total Cases Recovered Death       Date
0  Andaman and Nicobar Islands          33        33     0 2020-05-25
1               Andhra Pradesh        2823      1856    56 2020-05-25
2            Arunachal Pradesh           1         1     0 2020-05-25
3                        Assam         378        55     4 2020-05-25
4                        Bihar        2587       702    13 2020-05-25

In [10]:
#add latitude and longitude
lat = {'Delhi':28.7041, 'Haryana':29.0588, 'Kerala':10.8505, 'Rajasthan':27.0238,
       'Telengana':18.1124, 'Uttar Pradesh':26.8467, 'Ladakh':34.2996, 'Tamil Nadu':11.1271,
       'Andhra Pradesh':15.9129, 'Odisha':20.9517, 'Uttarakhand':30.0668, 'West Bengal':22.9868, 
       'Puducherry': 11.9416, 'Chandigarh': 30.7333, 'Chhattisgarh':21.2787, 
       'Jammu and Kashmir':33.7782, 'Punjab':31.1471, 'Karnataka':15.3173, 
       'Maharashtra':19.7515, 'Gujarat': 22.2587, 
       'Himachal Pradesh': 31.1048, 'Madhya Pradesh': 22.9734, 'Bihar': 25.0961, 'Manipur':24.6637, 
       'Mizoram':23.1645, 'Goa': 15.2993, 'Andaman and Nicobar Islands': 11.7401, 'Assam' : 26.2006, 
       'Jharkhand': 23.6102, 'Arunachal Pradesh': 28.2180, 'Tripura': 23.9408, 'Nagaland': 26.1584, 
       'Meghalaya' : 25.4670}

long = {'Delhi':77.1025, 'Haryana':76.0856, 'Kerala':76.2711, 'Rajasthan':74.2179,
        'Telengana':79.0193, 'Uttar Pradesh':80.9462, 'Ladakh':78.2932, 'Tamil Nadu':78.6569,
        'Andhra Pradesh':79.7400, 'Odisha':85.0985, 'Uttarakhand':79.0193, 'West Bengal':87.8550, 
        'Puducherry': 79.8083, 'Chandigarh': 76.7794, 'Chhattisgarh':81.8661,
        'Jammu and Kashmir':76.5762, 'Punjab':75.3412, 'Karnataka':75.7139, 
        'Maharashtra':75.7139, 'Gujarat': 71.1924, 
        'Himachal Pradesh': 77.1734, 'Madhya Pradesh': 78.6569, 'Bihar': 85.3131, 'Manipur':93.9063, 
        'Mizoram':92.9376, 'Goa': 74.1240, 'Andaman and Nicobar Islands': 92.6586, 'Assam' : 92.9376, 
        'Jharkhand': 85.2799, 'Arunachal Pradesh': 94.7278, 'Tripura': 91.9882, 'Nagaland': 94.5624,
        'Meghalaya' : 91.3662}

data['Latitude'] = data['States'].map(lat)
data['Longitude'] = data['States'].map(long)

In [11]:
data.head()

,States,Total Cases,Recovered,Death,Date,Latitude,Longitude
0,Andaman and Nicobar Islands,33,33,0,2020-05-25,11.7401,92.6586
1,Andhra Pradesh,2823,1856,56,2020-05-25,15.9129,79.7400
2,Arunachal Pradesh,1,1,0,2020-05-25,28.2180,94.7278
3,Assam,378,55,4,2020-05-25,26.2006,92.9376
4,Bihar,2587,702,13,2020-05-25,25.0961,85.3131

In [12]:
my_folder = './.daily_update/'
if not os.path.exists(my_folder):
    os.makedirs(my_folder)

file_name = my_folder + now.strftime("%Y_%m_%d") + '.csv'

In [13]:
data.to_csv(file_name, index=False)

In [14]:
csv_files = glob.glob(my_folder + '*.csv')

all_data = []
for i in csv_files:
    temp = pd.read_csv(i)
    all_data.append(temp)

In [15]:
final_data = pd.concat(all_data, ignore_index=True).sort_values(['Date'], ascending=True).reset_index(drop=True)
final_data['Date'] = pd.to_datetime(final_data['Date'])
#final_data.drop(final_data.index[[1005]])
final_data['Active'] = final_data['Total Cases'] - final_data['Recovered'] - final_data['Death']
final_data = final_data.sort_values(['Date', 'States']).reset_index(drop=True)
final_data
#final_data.isna().sum()
#final_data.to_csv('demo.csv', index=False)

,States,Total Cases,Recovered,Death,Date,Latitude,Longitude,Active
0,Andaman and Nicobar Islands,16,11,0,2020-04-21,11.7401,92.6586,5
1,Andhra Pradesh,757,96,22,2020-04-21,15.9129,79.7400,639
2,Arunachal Pradesh,1,1,0,2020-04-21,28.2180,94.7278,0
3,Assam,35,19,1,2020-04-21,26.2006,92.9376,15
4,Bihar,114,42,2,2020-04-21,25.0961,85.3131,70
5,Chandigarh,26,13,0,2020-04-21,30.7333,76.7794,13
6,Chhattisgarh,36,25,0,2020-04-21,21.2787,81.8661,11
7,Delhi,2081,431,47,2020-04-21,28.7041,77.1025,1603
8,Goa,7,7,0,2020-04-21,15.2993,74.1240,0
9,Gujarat,2066,131,77,2020-04-21,22.2587,71.1924,1858
10,Haryana,254,127,3,2020-04-21,29.0588,76.0856,124
11,Himachal Pradesh,39,16,1,2020-04-21,31.1048,77.1734,22
12,Jammu and Kashmir,368,71,5,2020-04-21,33.7782,76.5762,292
13,Jharkhand,46,0,2,2020-04-21,23.6102,85.2799,44
14,Karnataka,415,114,17,2020-04-21,15.3173,75.7139,284
15,Kerala,408,291,3,2020-04-21,10.8505,76.2711,114
16,Ladakh,18,14,0,2020-04-21,34.2996,78.2932,4
17,Madhya Pradesh,1540,127,76,2020-04-21,22.9734,78.6569,1337
18,Maharashtra,4669,572,232,2020-04-21,19.7515,75.7139,3865
19,Manipur,2,2,0,2020-04-21,24.6637,93.9063,0
20,Meghalaya,11,0,1,2020-04-21,25.4670,91.3662,10
21,Mizoram,1,0,0,2020-04-21,23.1645,92.9376,1
22,Nagaland,0,0,0,2020-04-21,26.1584,94.5624,0
23,Odisha,74,24,1,2020-04-21,20.9517,85.0985,49
24,Puducherry,7,3,0,2020-04-21,11.9416,79.8083,4
25,Punjab,245,39,16,2020-04-21,31.1471,75.3412,190
26,Rajasthan,1576,205,25,2020-04-21,27.0238,74.2179,1346
27,Tamil Nadu,1520,457,17,2020-04-21,11.1271,78.6569,1046
28,Telengana,919,190,23,2020-04-21,18.1124,79.0193,706
29,Tripura,2,1,0,2020-04-21,23.9408,91.9882,1
...,...,...,...,...,...,...,...,...
1104,Bihar,2587,702,13,2020-05-25,25.0961,85.3131,1872
1105,Chandigarh,238,186,3,2020-05-25,30.7333,76.7794,49
1106,Chhattisgarh,252,67,0,2020-05-25,21.2787,81.8661,185
1107,Dadar Nagar Haveli,2,0,0,2020-05-25,NaN,NaN,2
1108,Delhi,13418,6540,261,2020-05-25,28.7041,77.1025,6617
1109,Goa,66,19,0,2020-05-25,15.2993,74.1240,47
1110,Gujarat,14056,6412,858,2020-05-25,22.2587,71.1924,6786
1111,Haryana,1184,765,16,2020-05-25,29.0588,76.0856,403
1112,Himachal Pradesh,203,63,3,2020-05-25,31.1048,77.1734,137
1113,Jammu and Kashmir,1621,809,21,2020-05-25,33.7782,76.5762,791
1114,Jharkhand,370,148,4,2020-05-25,23.6102,85.2799,218
1115,Karnataka,2089,654,42,2020-05-25,15.3173,75.7139,1393
1116,Kerala,847,521,4,2020-05-25,10.8505,76.2711,322
1117,Ladakh,52,43,0,2020-05-25,34.2996,78.2932,9
1118,Madhya Pradesh,6665,3408,290,2020-05-25,22.9734,78.6569,2967
1119,Maharashtra,50231,14600,1635,2020-05-25,19.7515,75.7139,33996
1120,Manipur,32,4,0,2020-05-25,24.6637,93.9063,28
1121,Meghalaya,14,12,1,2020-05-25,25.4670,91.3662,1
1122,Mizoram,1,1,0,2020-05-25,23.1645,92.9376,0
1123,Odisha,1336,550,7,2020-05-25,20.9517,85.0985,779
1124,Puducherry,41,12,0,2020-05-25,11.9416,79.8083,29
1125,Punjab,2060,1898,40,2020-05-25,31.1471,75.3412,122
1126,Rajasthan,7028,3848,163,2020-05-25,27.0238,74.2179,3017
1127,Sikkim,1,0,0,2020-05-25,NaN,NaN,1
1128,Tamil Nadu,16277,8324,111,2020-05-25,11.1271,78.6569,7842
1129,Telengana,1854,1090,53,2020-05-25,18.1124,79.0193,711
1130,Tripura,191,165,0,2020-05-25,23.9408,91.9882,26
1131,Uttar Pradesh,6268,3538,161,2020-05-25,26.8467,80.9462,2569
1132,Uttarakhand,317,58,3,2020-05-25,30.0668,79.0193,256
1133,West Bengal,3667,1339,272,2020-05-25,22.9868,87.8550,2056

In [16]:
final_data.to_csv('COVID19INDIA.csv', index=False)